B. Titanic-https://www.kaggle.com/c/titanic/data
Database of whether somebody survived or not
Can you infer who has survived ?

1. Load the data
2. Which gender survived more 
3. Does it depend on pclass?
4. can we see % of survival of each gender and pclass 
What is your inference?

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
titanic = pd.read_csv(r"train.csv")

In [7]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#survival
titanic.groupby('Sex')['Survived'].sum()

Sex
female    233
male      109
Name: Survived, dtype: int64

In [10]:
#pclass survival rate
pclass_survival = titanic.groupby('Pclass')['Survived'].sum()
pclass_survival

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [30]:
survival_stats = titanic.groupby(['Sex', 'Pclass'])['Survived'].mean().reset_index()
survival_stats['Survival %'] = survival_stats['Survived'] * 100

In [31]:
survival_stats

      Sex  Pclass  Survived  Survival %
0  female       1  0.968085   96.808511
1  female       2  0.921053   92.105263
2  female       3  0.500000   50.000000
3    male       1  0.368852   36.885246
4    male       2  0.157407   15.740741
5    male       3  0.135447   13.544669