# HandsOn - Predict The Data Scientists Salary In India from kaggle use sklearn
dataset: Predict-The-Data-Scientists-Salary-In-India_Train_Dataset.csv
Data Features:
    Name of the company (Encoded)
    Years of experience(split to min and max experience)
    Job description
    Job designation
    Job Type
    Key skills
    Location (needs LabelEncoded)
    Salary in Rupees Lakhs(To be predicted)(needs LabelEncoded)
    
Find the best estimator among below 
clf1 = DecisionTreeClassifier()
clf2 = RandomForestClassifier(n_estimators=100)
clf3 = ExtraTreesClassifier(n_estimators=100)
clf4 =  AdaBoostClassifier(n_estimators=100)
clf5 =  GradientBoostingClassifier(n_estimators=100)

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.pipeline import * 
from sklearn.naive_bayes import * 
from sklearn.cluster import *  
from sklearn.covariance import *  
from sklearn.cross_decomposition import *  
from sklearn.datasets import *  
from sklearn.decomposition import *  
from sklearn.ensemble import *  
from sklearn.feature_extraction import *  
from sklearn.feature_extraction.text import *  
from sklearn.feature_selection import *  
from sklearn.gaussian_process import *  
from sklearn.linear_model import *  
from sklearn.manifold import *  
from sklearn.metrics import *  
from sklearn.mixture import *  
from sklearn.model_selection import *  
from sklearn.neighbors import *  
from sklearn.neural_network import *  
from sklearn.preprocessing import *  
# from sklearn_pandas import DataFrameMapper
from sklearn.svm import *  
from sklearn.tree import *

In [2]:
path=r"../../../../code/data/Predict-The-Data-Scientists-Salary-In-India_Train_Dataset.csv"

In [110]:
data=pd.read_csv(path)

In [111]:
data

,Unnamed: 0,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305
...,...,...,...,...,...,...,...,...,...
19797,19797,12-18 yrs,NaN,"Director, Medical Coding Training",NaN,"Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,15to25,2245
19798,19798,0-3 yrs,NaN,Looking For Freshers WHO WANT To Work WITH US,NaN,"offline, online, part time, home base, work fr...","Mumbai, Bengaluru, Chennai, Hyderabad, Dehradu...",0to3,4966
19799,19799,8-13 yrs,Annuities Domain experience is mandatory;Work ...,PM- C#/ .Net ( Annuity/ Insurance Domain),NaN,"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad,15to25,4272
19800,19800,1-3 yrs,- By plugging into our market-leading global n...,Consultant - Internal Audit,NaN,"accounting, internal audit, auditing, risk adv...",Pune,10to15,1793
19801,19801,2-5 yrs,- 3-5 years experience with the end to end pro...,Unity 3D Developer - Mobile Games Development,NaN,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad,10to15,1349

In [112]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [113]:
data

,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305
...,...,...,...,...,...,...,...,...
19797,12-18 yrs,NaN,"Director, Medical Coding Training",NaN,"Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,15to25,2245
19798,0-3 yrs,NaN,Looking For Freshers WHO WANT To Work WITH US,NaN,"offline, online, part time, home base, work fr...","Mumbai, Bengaluru, Chennai, Hyderabad, Dehradu...",0to3,4966
19799,8-13 yrs,Annuities Domain experience is mandatory;Work ...,PM- C#/ .Net ( Annuity/ Insurance Domain),NaN,"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad,15to25,4272
19800,1-3 yrs,- By plugging into our market-leading global n...,Consultant - Internal Audit,NaN,"accounting, internal audit, auditing, risk adv...",Pune,10to15,1793
19801,2-5 yrs,- 3-5 years experience with the end to end pro...,Unity 3D Developer - Mobile Games Development,NaN,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad,10to15,1349

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19802 entries, 0 to 19801
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   experience            19802 non-null  object
 1   job_description       15384 non-null  object
 2   job_desig             19802 non-null  object
 3   job_type              4797 non-null   object
 4   key_skills            19801 non-null  object
 5   location              19802 non-null  object
 6   salary                19802 non-null  object
 7   company_name_encoded  19802 non-null  int64
dtypes: int64(1), object(7)
memory usage: 1.2+ MB

In [115]:
data.isnull().sum()

experience                  0
job_description          4418
job_desig                   0
job_type                15005
key_skills                  1
location                    0
salary                      0
company_name_encoded        0
dtype: int64

In [116]:
data["job_type"].value_counts()
data["job_type"]="Analytics" 
data["job_type"].value_counts()

job_type
Analytics    19802
Name: count, dtype: int64

In [117]:
data.isnull().sum()

experience                 0
job_description         4418
job_desig                  0
job_type                   0
key_skills                 1
location                   0
salary                     0
company_name_encoded       0
dtype: int64

In [118]:
data['key_skills'].mode()

0    part time, freelancing, data entry, present jo...
Name: key_skills, dtype: object

In [119]:
data['key_skills']=data['key_skills'].fillna(data['key_skills'].mode()[0])

In [120]:
data["job_description"]=data["job_description"].fillna(data["job_description"].mode()[0])

In [121]:
data.isnull().sum()

experience              0
job_description         0
job_desig               0
job_type                0
key_skills              0
location                0
salary                  0
company_name_encoded    0
dtype: int64

In [122]:
data["experience"].unique()

array(['5-7 yrs', '10-17 yrs', '5-9 yrs', '7-10 yrs', '1-3 yrs',
       '5-10 yrs', '13-15 yrs', '6-10 yrs', '2-6 yrs', '3-7 yrs',
       '10-12 yrs', '2-4 yrs', '1-6 yrs', '3-6 yrs', '5-8 yrs', '4-9 yrs',
       '3-5 yrs', '1-5 yrs', '8-12 yrs', '1-4 yrs', '10-20 yrs',
       '2-5 yrs', '6-11 yrs', '4-8 yrs', '3-4 yrs', '2-7 yrs', '7-12 yrs',
       '7-8 yrs', '14-16 yrs', '8-10 yrs', '0-5 yrs', '10-14 yrs',
       '8-11 yrs', '12-20 yrs', '3-8 yrs', '1-2 yrs', '8-13 yrs',
       '9-12 yrs', '10-15 yrs', '0-2 yrs', '11-15 yrs', '15-25 yrs',
       '6-9 yrs', '12-15 yrs', '0-3 yrs', '4-7 yrs', '4-6 yrs',
       '14-20 yrs', '2-3 yrs', '9-14 yrs', '12-17 yrs', '15-20 yrs',
       '0-1 yrs', '0-0 yrs', '12-16 yrs', '6-8 yrs', '0-4 yrs',
       '20-30 yrs', '7-9 yrs', '17-23 yrs', '4-5 yrs', '12-18 yrs',
       '10-16 yrs', '6-7 yrs', '10-18 yrs', '12-22 yrs', '15-24 yrs',
       '2-2 yrs', '8-9 yrs', '14-24 yrs', '13-23 yrs', '10-13 yrs',
       '1-1 yrs', '9-13 yrs', '15-18 yrs', '11-18 yrs', '7-11 yrs',
       '10-19 yrs', '11-14 yrs', '9-11 yrs', '5-6 yrs', '11-17 yrs',
       '12-14 yrs', '13-17 yrs', '13-20 yrs', '11-20 yrs', '11-13 yrs',
       '9-10 yrs', '15-16 yrs', '18-25 yrs', '13-18 yrs', '15-22 yrs',
       '11-16 yrs', '15-17 yrs', '20-28 yrs', '14-21 yrs', '14-15 yrs',
       '10-10 yrs', '13-14 yrs', '14-18 yrs', '19-25 yrs', '13-19 yrs',
       '16-26 yrs', '14-22 yrs', '18-22 yrs', '18-20 yrs', '11-12 yrs',
       '20-22 yrs', '13-16 yrs', '14-17 yrs', '15-21 yrs', '8-8 yrs',
       '12-19 yrs', '16-20 yrs', '14-19 yrs', '19-23 yrs', '11-21 yrs',
       '10-11 yrs', '5-5 yrs', '17-24 yrs', '12-13 yrs', '4-4 yrs',
       '16-18 yrs', '16-22 yrs', '20-26 yrs', '17-19 yrs', '17-25 yrs',
       '20-25 yrs', '23-30 yrs'], dtype=object)

In [142]:
data[['min_experience', 'max_experience']] = data['experience'].str.replace(' yrs', '').str.split('-', expand=True).astype(int)
data.drop("experience",axis=1,inplace=True)

In [143]:
data

,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded,min_experience,max_experience
0,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,Analytics,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687,5,7
1,He should have handled a team of atleast 5-6 d...,Head SCM,Analytics,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458,10,17
2,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195,5,9
3,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313,7,10
4,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,Analytics,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305,1,3
...,...,...,...,...,...,...,...,...,...
19797,Accenture Technology powers our clients busine...,"Director, Medical Coding Training",Analytics,"Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,15to25,2245,12,18
19798,Accenture Technology powers our clients busine...,Looking For Freshers WHO WANT To Work WITH US,Analytics,"offline, online, part time, home base, work fr...","Mumbai, Bengaluru, Chennai, Hyderabad, Dehradu...",0to3,4966,0,3
19799,Annuities Domain experience is mandatory;Work ...,PM- C#/ .Net ( Annuity/ Insurance Domain),Analytics,"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad,15to25,4272,8,13
19800,- By plugging into our market-leading global n...,Consultant - Internal Audit,Analytics,"accounting, internal audit, auditing, risk adv...",Pune,10to15,1793,1,3
19801,- 3-5 years experience with the end to end pro...,Unity 3D Developer - Mobile Games Development,Analytics,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad,10to15,1349,2,5

In [144]:
le = LabelEncoder()
data["salary"]=le.fit_transform(data["salary"])

In [155]:
x=data[["job_description","job_desig","key_skills","location"]]
pd.get_dummies(x)

,job_description_\t2+ years of experience developing Android mobile applications - plus - experience ...,job_description_\tHaving working knowledge of Audit Tools and one year audit experience ;\tSelf-starter with ...,"job_description_\tMarket Research: o\tPrimary market search: Understand customer need, Therapy need gap ...",job_description_ \t10+ years of well-rounded marketing leadership experience with recent and significant experience ...,job_description_ \tGraduate with at least 12 ...,job_description_ \tMust be experienced in large ...,"job_description_ \tOverall 6-12 years of IT experience, with minimum 3-6 years of experience in Security related ...","job_description_ \tCandidates with overall 5+ Yrs of experience, of which min 3+ Yrs in connection design in ...",job_description_ \tMinimum 5 years or IT experience including at least 3 years of Software Testing Experience;3 ...,job_description_ \tUndertake management of project(s) exclusively. (all other functional jobs to be done by each ...,...,location_kerala,"location_khalilabad, siddharthnagar, robertsganj, unnao, almora, bageshwar, chamoli, champawat, nainital","location_kushinagar, lalitpur, maharajganj, mahoba, mainpuri, mau, hapur, raebareli, rampur",location_lumbumbashi,"location_morigaon, nagaon, nalbari, sivasagar, tezpur, tinsukia, udalguri, sankardev nagar, majuli",location_other city,"location_pauri, pithoragarh, rudraprayag, uttarkashi, chatra, deogar, dumka, garhwa, godda","location_rajasthan, haryana","location_riyadh, Saudi Arabia","location_rohtas, samastipur, chhapra, sheohar, sitamarhi, supaul, hajipur, bettiah, firozabad"
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19797,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19798,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19799,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19800,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19801,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [156]:
x

,job_description,job_desig,key_skills,location
0,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri)
1,He should have handled a team of atleast 5-6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat
2,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR
3,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru
4,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon
...,...,...,...,...
19797,Accenture Technology powers our clients busine...,"Director, Medical Coding Training","Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad
19798,Accenture Technology powers our clients busine...,Looking For Freshers WHO WANT To Work WITH US,"offline, online, part time, home base, work fr...","Mumbai, Bengaluru, Chennai, Hyderabad, Dehradu..."
19799,Annuities Domain experience is mandatory;Work ...,PM- C#/ .Net ( Annuity/ Insurance Domain),"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad
19800,- By plugging into our market-leading global n...,Consultant - Internal Audit,"accounting, internal audit, auditing, risk adv...",Pune
19801,- 3-5 years experience with the end to end pro...,Unity 3D Developer - Mobile Games Development,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad

In [6]:
y=data["salary"]
x=data[["experience","job_description","job_desig","job_type","key_skills","location","company_name_encoded"]]

In [8]:
x = pd.get_dummies(x)

In [39]:
classifiers=dict(clf1 = DecisionTreeClassifier(),
clf2 = RandomForestClassifier(n_estimators=100),
clf3 = ExtraTreesClassifier(n_estimators=100),
clf4 =  AdaBoostClassifier(n_estimators=100),
clf5 =  GradientBoostingClassifier(n_estimators=100))
param_grids = {
    'clf1': {'max_depth': [3, 5, 10, None]},
    'clf2': {'n_estimators': [50, 100, 200], 'max_depth': [3, 5, 10, None]},
    'clf3': {'n_estimators': [50, 100, 200], 'max_depth': [3, 5, 10, None]},
    'clf4': {'n_estimators': [50, 100, 200], 'learning_rate': [0.01, 0.1, 1]},
    'clf5': {'n_estimators': [50, 100, 200], 'learning_rate': [0.01, 0.1, 0.2], 'max_depth': [3, 5, 7]}
}

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

In [45]:
for name, clf in classifiers.items():
    print(f"Tuning {name}...")
    model = RandomizedSearchCV(clf, param_distributions=param_grids[name], cv=5, n_iter=10, random_state=42)
    model.fit(x_train, y_train)
    print(f"{name}: Best Score = {model.best_score_:.4f}, Best Params = {model.best_params_}\n")

Tuning clf1...

C:\Users\Sai Charan\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 4 is smaller than n_iter=10. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

KeyboardInterrupt:

Question-27
# HandsOn - Titanic survival prediction , from Kaggle
https://www.kaggle.com/c/titanic/data
           
Understand data, download only train.csv and test.csv 

Using Tpot, find the test score of best Estimator 
Hint:
The first and most important step in using TPOT on any data set 
is to rename the target class/response variable to 'class'.

At present, TPOT requires all the data to be in numerical format. 
Categorical:  Name, Sex, Ticket, Cabin and Embarked.
So convert categorical to number(which preprocessing?) and/or 
discard high levels of categorical completely 

Keras:
data/pima-indians-diabetes.csv, Binary classification

In [60]:
from tpot import TPOTClassifier
df = pd.read_csv('titanic_train.csv')

In [61]:
df = df.drop(['name', 'ticket', 'cabin'], axis=1)
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])

In [62]:
df = pd.get_dummies(df, columns=['embarked'])
df = df.fillna(df.mean(numeric_only=True))
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S
0,0,3,1,22.000000,1,0,7.2500,False,False,True
1,1,1,0,38.000000,1,0,71.2833,True,False,False
2,1,3,0,26.000000,0,0,7.9250,False,False,True
3,1,1,0,35.000000,1,0,53.1000,False,False,True
4,0,3,1,35.000000,0,0,8.0500,False,False,True
...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.000000,0,0,13.0000,False,False,True
887,1,1,0,19.000000,0,0,30.0000,False,False,True
888,0,3,0,29.699118,1,2,23.4500,False,False,True
889,1,1,1,26.000000,0,0,30.0000,True,False,False
890,0,3,1,32.000000,0,0,7.7500,False,True,False

In [63]:
y=df["survived"]
x = df.drop('survived', axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)
cf = TPOTClassifier(generations=5, population_size=20, verbosity=2, random_state=42)

In [65]:
cf.fit(x_train, y_train)

is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor

C:\Users\Sai Charan\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1230: FutureWarning: passing a class to None is deprecated and will be removed in 1.8. Use an instance of the class instead.
  warnings.warn(
C:\Users\Sai Charan\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1270: FutureWarning: passing a class to None is deprecated and will be removed in 1.8. Use an instance of the class instead.
  warnings.warn(

is_classifier
is_classifier
is_classifier
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_classifier
is_classifier
is_classifier
is_classifier
is_classifier
is_classifier
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier
is_classifier
is_classifier
is_regressor
is_classifier
is_regressor
is_classifier

Version 0.12.2 of tpot is outdated. Version 1.0.0 was released Wednesday February 26, 2025.

Optimization Progress:   0%|          | 0/120 [00:00<?, ?pipeline/s]

  File "C:\Users\Sai Charan\AppData\Local\Programs\Python\Python312\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Users\Sai Charan\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Sai Charan\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Users\Sai Charan\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Generation 1 - Current best internal CV score: 0.8277406832298138

Generation 2 - Current best internal CV score: 0.8277406832298138

Generation 3 - Current best internal CV score: 0.827748447204969

Generation 4 - Current best internal CV score: 0.827748447204969

Generation 5 - Current best internal CV score: 0.8289906832298136

Best pipeline: RandomForestClassifier(ZeroCount(PolynomialFeatures(MinMaxScaler(input_matrix), degree=2, include_bias=False, interaction_only=False)), bootstrap=True, criterion=gini, max_features=0.2, min_samples_leaf=8, min_samples_split=4, n_estimators=100)

TPOTClassifier(generations=5, population_size=20, random_state=42, verbosity=2)

In [67]:
cf.score(x_test,y_test)

0.8

In [68]:
cf.predict(x_test)

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0])